{
  "parser": "babel-eslint",
  "plugins": ["babel"],
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "rules": {
    "no-console": "off",
    "implicit-arrow-linebreak": "off",
    "arrow-parens": [
      "error",
      "as-needed",
      {
        "requireForBlockBody": false
      }
    ],
    "function-paren-newline": "off"
  }
}
